In [30]:
#Import Libraries
import pandas as pd
import numpy as np
import os

### Country Vaccination detailed Dataset

In [31]:

df = pd.read_csv(r'/Users/lechu/Desktop/Task_6/Data/country_vaccinations.csv',index_col = False)

In [32]:
df.shape

(76095, 15)

In [33]:
df.head()

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million,vaccines,source_name,source_website
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,34.0,"Johnson&Johnson, Oxford/AstraZeneca, Pfizer/Bi...",World Health Organization,https://covid19.who.int/

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76095 entries, 0 to 76094
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              76095 non-null  object
 1   iso_code                             76095 non-null  object
 2   date                                 76095 non-null  object
 3   total_vaccinations                   39676 non-null  float64
 4   people_vaccinated                    37640 non-null  float64
 5   people_fully_vaccinated              35088 non-null  float64
 6   daily_vaccinations_raw               32415 non-null  float64
 7   daily_vaccinations                   75771 non-null  float64
 8   total_vaccinations_per_hundred       39676 non-null  float64
 9   people_vaccinated_per_hundred        37640 non-null  float64
 10  people_fully_vaccinated_per_hundred  35088 non-null  float64
 11  daily_vaccinations_per_million       75771 non-null  float64
 12  vaccines                             76095 non-null  object
 13  source_name                          76095 non-null  object
 14  source_website                       76095 non-null  object
dtypes: float64(9), object(6)
memory usage: 8.7+ MB

In [35]:
#changing the date format
df.date = pd.to_datetime(df.date)

In [36]:
df.date.max()

Timestamp('2022-02-09 00:00:00')

In [37]:
#Dropping unwanted columns
df.drop(columns=['source_name','source_website','iso_code'],inplace = True)

In [38]:
df.columns

Index(['country', 'date', 'total_vaccinations', 'people_vaccinated',
       'people_fully_vaccinated', 'daily_vaccinations_raw',
       'daily_vaccinations', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'daily_vaccinations_per_million', 'vaccines'],
      dtype='object')

In [39]:
df.isnull().sum()

country                                    0
date                                       0
total_vaccinations                     36419
people_vaccinated                      38455
people_fully_vaccinated                41007
daily_vaccinations_raw                 43680
daily_vaccinations                       324
total_vaccinations_per_hundred         36419
people_vaccinated_per_hundred          38455
people_fully_vaccinated_per_hundred    41007
daily_vaccinations_per_million           324
vaccines                                   0
dtype: int64

In [40]:
#filling Nan values with '0'
df=df.fillna(0)

In [41]:
df.isnull().sum()

country                                0
date                                   0
total_vaccinations                     0
people_vaccinated                      0
people_fully_vaccinated                0
daily_vaccinations_raw                 0
daily_vaccinations                     0
total_vaccinations_per_hundred         0
people_vaccinated_per_hundred          0
people_fully_vaccinated_per_hundred    0
daily_vaccinations_per_million         0
vaccines                               0
dtype: int64

In [42]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
76090    False
76091    False
76092    False
76093    False
76094    False
Length: 76095, dtype: bool

In [43]:
df.dtypes

country                                        object
date                                   datetime64[ns]
total_vaccinations                            float64
people_vaccinated                             float64
people_fully_vaccinated                       float64
daily_vaccinations_raw                        float64
daily_vaccinations                            float64
total_vaccinations_per_hundred                float64
people_vaccinated_per_hundred                 float64
people_fully_vaccinated_per_hundred           float64
daily_vaccinations_per_million                float64
vaccines                                       object
dtype: object

In [44]:
df.describe()

,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,daily_vaccinations_per_million
count,7.609500e+04,7.609500e+04,7.609500e+04,7.609500e+04,7.609500e+04,76095.000000,76095.000000,76095.000000,76095.000000
mean,2.045468e+07,7.674233e+06,5.500132e+06,1.169617e+05,1.360947e+05,37.422341,18.902739,14.914726,3425.125094
std,1.443096e+08,4.432151e+07,3.317640e+07,8.228488e+05,8.016467e+05,57.671397,27.770957,24.661664,4053.221496
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,9.450000e+02,0.000000,0.000000,0.000000,685.000000
50%,1.907200e+04,0.000000e+00,0.000000e+00,0.000000e+00,7.760000e+03,0.440000,0.000000,0.000000,2252.000000
75%,3.584336e+06,1.867238e+06,1.084537e+06,1.621350e+04,4.520600e+04,62.625000,35.975000,22.265000,4965.000000
max,3.022646e+09,1.266426e+09,1.228340e+09,2.474100e+07,2.242429e+07,331.950000,123.640000,120.930000,117497.000000

In [45]:
df.shape

(76095, 12)

### Vaccination Manufacturer Dataset

In [46]:
df_manf = pd.read_csv(r'/Users/lechu/Desktop/Task_6/Data/country_vaccinations_by_manufacturer.csv',index_col = False)

In [47]:
df_manf.shape

(27256, 4)

In [48]:
df_manf.head()

  location        date             vaccine  total_vaccinations
0  Austria  2021-01-08     Johnson&Johnson                   1
1  Austria  2021-01-08             Moderna                   0
2  Austria  2021-01-08  Oxford/AstraZeneca                   0
3  Austria  2021-01-08     Pfizer/BioNTech               31580
4  Austria  2021-01-15     Johnson&Johnson                   1

In [49]:
df_manf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27256 entries, 0 to 27255
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   location            27256 non-null  object
 1   date                27256 non-null  object
 2   vaccine             27256 non-null  object
 3   total_vaccinations  27256 non-null  int64
dtypes: int64(1), object(3)
memory usage: 851.9+ KB

In [50]:
#changing the date format
df_manf.date = pd.to_datetime(df_manf.date)

In [51]:
df_manf.isnull().sum()

location              0
date                  0
vaccine               0
total_vaccinations    0
dtype: int64

In [52]:
df_manf.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
27251    False
27252    False
27253    False
27254    False
27255    False
Length: 27256, dtype: bool

In [53]:
df_manf.date.max()

Timestamp('2022-02-09 00:00:00')

In [54]:
df.to_csv(r'/Users/lechu/Desktop/Task_6/PreparedData/country_vaccination_clean.csv',index_col = False)

TypeError: to_csv() got an unexpected keyword argument 'index_col'

In [29]:
df_manf.to_csv(r'/Users/lechu/Desktop/Task_6/PreparedData/country_vaccination_manufacture_clean.csv',index_col = False)